.App {
  text-align: center;
}

span {
  color: red;
}
#usernameHome {
  color: rgb(6, 103, 250);
}
/* Css per la gestione degli eventi*/

/* Stile per il contenitore principale dell'evento */
.Evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Stile per la lista degli eventi */
.listaEventi {
  width: 100%;
  margin-bottom: 20px;
}

/* Stile per un singolo evento nella lista */
.evento {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Stile per l'header */
.header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stile per il form di creazione evento */
.formCreazioneEvento {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

/* Stile per i label nel form */
.formCreazioneEvento label {
  display: block;
  margin-bottom: 10px;
}

/* Stile per gli input nel form */
.formCreazioneEvento input,
.formCreazioneEvento textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stile per il bottone nel form */
.formCreazioneEvento button {
  background-color: #0853a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Stile per il bottone nel form al passaggio del mouse */
.formCreazioneEvento button:hover {
  background-color: #0056b3;
}

/* Css per la creazione delle location*/

.addLocationPage {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.addLocationPage label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addLocationPage input,
.addLocationPage textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.addLocationPage button {
  background-color: #007bff;
  color: #fff;
  border: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.addLocationPage button:hover {
  background-color: #0056b3;
}

/*Css navbar*/
.navbar {
  background-color: #333; /* Colore di sfondo */
  padding: 10px 20px; /* Spaziatura interna */
}

.navbar a {
  color: white; /* Colore del testo */
  text-decoration: none; /* Rimuove la sottolineatura */

  padding: 8px 12px; /* Spaziatura interna dei link */
  border: 1px solid transparent; /* Bordo trasparente */
  border-radius: 4px; /* Bordi arrotondati */
  background-color: #333133;
}

.navbar a:hover {
  background-color: #555; /* Cambia il colore di sfondo al passaggio del mouse */
}

.navbar a:first-child {
  margin-right: auto; /* Sposta il primo link a sinistra */
}

/* Css per la visione delle location*/

.locationListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationListItem {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.locationListItem .nome {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.locationListItem .indirizzo {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.locationListItem .descrizione {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.locationListItem .nPosti {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

/* Stili per la pagina di visualizzazione della località */
.locationPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Stili per la colonna sinistra */
.leftSide {
  flex: 1;
}

/* Stili per la colonna destra */
.rightSide {
  flex: 1;
  margin-left: 20px;
}

/* Stili per il nome della località */
.nome {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Stili per la descrizione della località */
.descrizione {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per l'indirizzo della località */
.indirizzo {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per il numero di posti disponibili della località */
.nPosti {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Stili per la sezione recensioni */
.addTestoRecensione input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addVoto {
  margin-bottom: 20px;
}

.addVoto input[type="radio"] {
  margin-right: 5px;
}

.listaRecensioni .recensione {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.listaRecensioni .recensione:last-child {
  margin-bottom: 0;
}

/* Stili per la Registration page */
.registrationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer label {
  display: block;
  margin-bottom: 8px;
}

.formContainer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formContainer button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formContainer button:hover {
  background-color: #0056b3;
}

.radio-item {
  margin-bottom: 8px;
}

.radio-item label {
  margin-right: 8px;
}

/* Stili per la Login page */

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginPage input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginPage button {
  width: 300px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginPage button:hover {
  background-color: #0056b3;
}

/* Stile per la pagina di gestione della singola location */

.infoLocationDaCambiare {
  width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.nome {
  font-weight: bold;
}

.cambiaDescrizione,
.cambiaIndirizzo,
.cambiaNPosti,
.cambiaNome {
  margin-top: 20px;
  border: 1px solid #ccc;
  .border_radius {
    border-radius: 10px 10px 10px 10px;
  }
}

/*PER LE IMMAGINI*/
.galleriaFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galleriaFoto h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.singolaFoto {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.singolaFoto img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.singolaFoto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .galleriaFoto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .singolaFoto {
    margin: 15px;
    width: calc(33% - 30px); /* Tre elementi per riga */
  }
}
