@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: 'Medio';
    src: url('font/medio_font/Medio.woff2') format('woff2'),
        url('font/medio_font/Medio.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: radial-gradient(#fff, #ede3da);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-family: 'Medio', Medio;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    margin-left: 300px;
} 

.col-2 .sottotitolo{
    margin-left: 300px;
    font-size: 18px;
}
.btn{
    display: inline-block;
    background: transparent;
    color: #000000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 40px;
    border: 2px solid #000000;
    margin-left: 300px;
    transition: .5s;
}

.btn:hover {
    background: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    font-family: 'Medio', Medio;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .btnLogin-popup {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #000000;
    font-family: 'Medio', Medio;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
    background: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
}

.navbar .link_login:hover::after {
    transform: scaleX(0);
}

p{
    color: #000;
}

.categorie{
    margin: 70px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    height: 430px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: translateY(-5px);
}

.titolo{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000000;
    font-size: 35px;
}

.titolo::after{
    content: '';
    background: #000000;
    width: 80px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testo_item{
    text-align: center;
    font-size: 25px;
}

.proposta{
    background: radial-gradient(#fff, #ede3da);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .proposta-img{
    padding: 50px;
}

small{
    color: #000;
    font-size: 14px;
}

.col-2 .proposta-titolo{
    font-family: 'Medio', Medio;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.partners{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: #000;
    color: #ffffff;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #ffffff;
}

.footer h3{
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}

.footer-col-1 h3{
    text-align: center;
}

.footer-col-1 p{
    text-align: center;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3{
    text-align: center;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.log-forgot-header{
    background: radial-gradient(#fff, #ede3da);
    height: 836px;
    text-align: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
}

.wrapper .login-box{
    width: 100%;
    padding: 40px;
}

.wrapper .changePswPage{
    width: 100%;
    padding: 40px;
}

.changePswPage h2{
    font-size: 2em;
    font-family: 'Medio', Medio;
    color: #000;
    text-align: center;
}

.login-box h2{
    font-size: 2em;
    font-family: 'Medio', Medio;
    color: #000;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box i{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000;
    line-height: 57px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn-log-reg-forgot{
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid #000000;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    font-family: 'Medio', Medio;
    font-size: 20px;
}

.btn-log-reg-forgot:hover {
    background: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
}

.reg-header{
    background: radial-gradient(#fff, #ede3da);
    height: 880px;
    text-align: center;
}

.wrapper-reg{
    position: relative;
    width: 400px;
    height: 850px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
}

.wrapper-reg .registration-box{
    width: 100%;
    padding: 40px;
}

.registration-box h2{
    font-size: 2em;
    font-family: 'Medio', Medio;
    color: #000;
    text-align: center;
}

.radio-item input{
    color: #000;
}

.m-3 {
    font-size: 50px;
    font-family: 'Medio', Medio;
}

.col-md-8{
    text-align: center;
}

.btn-modifica{
    width: 200px;
    height: 35px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid #000000;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    font-family: 'Medio', Medio;
    font-size: 20px;
}

.btn-modifica:hover {
    background: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
}

.col-md-3 h5{
    font-size: 25px;
    font-family: 'Medio', Medio;
}

.col-md-9{
    font-family: 'Medio', Medio;
    font-size: 18px;
    margin-left: 40px;
}

.row{
    text-align: center;
}

.paginaProfilo{
    text-align: center;
}

.add-location-container{
    text-align: center;
    margin-top: 200px;
}

.row-add{
    margin-bottom: 100px;
}

.field{
    background: transparent;
    border: none;
    outline: none;

    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    font-family: 'Medio', Medio;
    font-size: 20px;
}

.campo-add{
    font-family: 'Medio', Medio;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.locationPage{
    text-align: center;
}

.titolo-2{
    font-family: 'Medio', Medio;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000000;
    margin-top: 50px;
    font-size: 30px;
}

.titolo-2::after{
    content: '';
    background: #000000;
    width: 80px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.listaEventi{
    margin-top: 50px;
    font-family: 'Medio', Medio;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.evento{
    margin-top: 30px;
    font-size: 20px;
}

.campo-loc{
    font-family: 'Medio', Medio;
    font-size: 22px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.addVoto{
    margin-top: 30px;
    margin-bottom: 20px;
}

.addVoto input{
    margin-right: 20px;
}

.commento{
    background: transparent;
    border: none;
    outline: none;

    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    font-family: 'Medio', Medio;
    font-size: 20px;
    height: 200px;
    width: 500px;
}

.campo-rec{
    font-family: 'Medio', Medio;
    font-size: 22px;
    margin-right: 50px;
    margin-left: 50px;
}

.locationChangerPage{
    text-align: center;
}

.campo-loc-change{
    font-family: 'Medio', Medio;
    font-size: 22px;
    margin-right: 50px;
    margin-left: 50px;
}

input[type="file"]{
    display: none;
}

.btn-upload{
    background: transparent;
    border-radius: 40px;
    border: 2px solid #000000;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    font-family: 'Medio', Medio;
    font-size: 20px;
    padding: 5px 20px;
}

.btn-upload:hover {
    background: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
}