@font-face {
    font-family: 'Medio';
    src: url('Medio.woff2') format('woff2'),
        url('Medio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

